*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: black;
  height: 100%;
  display: flex;
  justify-content: center;
}

h1 {
  color: white;
  flex: 0.3;
}

nav ul li{
  display: flex;
  display: inline-flex;
  color: white;
  margin-left: 75px;
}
